/* General Styling */
body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 20px;
}

.tab {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center the tabs horizontally */
  border: 1px solid #ccc; /* Add border for style */
  background-color: #f1f1f1; /* Background color of the tab bar */
  margin-top: 10px; /* Add spacing between the header and tabs */
  padding: 5px 0; /* Add padding inside the tab bar */
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  padding: 14px 16px;
  cursor: pointer;
  font-size: 16px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 20px;
}

.tabcontent.active {
  display: block;
}

/* Dropdown Hover Styling */
.tab-item {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 300px;
}

.dropdown-content h3 {
  margin: 0 0 10px;
}

.dropdown-content form {
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.dropdown-content button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #0056b3;
}

.tab-item:hover .dropdown-content {
  display: block;
}


.grid line {
  stroke: #e0e0e0; /* Light gray color */
  stroke-width: 1;
  stroke-dasharray: 3 3; /* Dashed gridlines */
}

.grid path {
  stroke: none; /* Hide axis line */
}
